<style>
    .main {
        width: 30%;
    }
    .input-group {
        margin-bottom: 20px;
    }
    .alert {
        width: 50%;
    }
</style>
<h2 class="header-dividing">我的资料</h2>
<if condition="$ispass eq -1">
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>您还未实名认证</h4>
        <p>请及时完善个人资料</p>
    </div>
</if>
<if condition="$ispass eq 0">
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>您已提交材料</h4>
        <p>请等待审核</p>
    </div>
</if>
<if condition="$ispass eq 1">
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>恭喜</h4>
        <p>您已实名认证成功</p>
    </div>
</if>
<div class="main">
    <form method="post" enctype="multipart/form-data" onsubmit="return check();">
        <div>
            <if condition="$data.hasphoto eq 0">
                <p>暂未上传头像</p>
                <else/>
                <img src="{$data.photo}" alt="个人头像" class="img-responsive" style="width: 150px;">
            </if>
        </div>
        <div class="input-group">
            <span class="input-group-addon">个人头像</span>
            <input type="file" name="photo" id="photo" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-addon">用户帐号</span>
            <input type="text" class="form-control" disabled value="{$data.username}">
            <span class="input-group-addon"><i class="icon icon-star"></i></span>
        </div>
        <div class="input-group">
            <span class="input-group-addon">机构名称</span>
            <input type="text" class="form-control" name="name" id="name" placeholder="机构名称" value="{$data.name}">
            <span class="input-group-addon"><i class="icon icon-star"></i></span>
        </div>
        <div class="input-group">
            <span class="input-group-addon">机构地址</span>
            <input type="text" class="form-control" name="address" id="address" placeholder="机构地址" value="{$data.address}">
            <span class="input-group-addon"><i class="icon icon-star"></i></span>
        </div>
        <div class="input-group">
            <span class="input-group-addon">联系方式</span>
            <input type="text" class="form-control" name="contact" id="contact" placeholder="联系方式" value="{$data.contact}">
            <span class="input-group-addon"><i class="icon icon-star"></i></span>
        </div>
        <div class="input-group">
            <span class="input-group-addon">资质证明</span>
            <input type="file" class="form-control" name="certification" id="certification">
            <span class="input-group-addon"><i class="icon icon-star"></i></span>
        </div>
        <div>
            <if condition="$data.hascertification eq 0">
                <p>暂未上传证明材料</p>
                <else/>
                <button type="button" class="btn" data-toggle="modal" data-target="#myModal">查看资质文件</button>
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                                <h4 class="modal-title">资质文件</h4>
                            </div>
                            <div class="modal-body">
                                <img src="{$data.certification}" alt="资质材料" style="width: 220px;">
                            </div>
                        </div>
                    </div>
                </div>
            </if>
        </div>
        <input type="text" id="hascertification" value="{$data.hascertification}" hidden>
        <br>
        <button class="btn btn-block btn-primary" style="line-height: 2.2;" type="submit">修改</button>
    </form>
</div>

<script>
    function check() {
        var name = $('#name').val();
        var address = $("#address").val();
        var contact = $('#contact').val();
        var hascertification = $('#hascertification').val();
        if(name == "") {
            alert('机构名称不可以为空');
            return false;
        }
        if(address == "") {
            alert('机构地址不可以为空');
            return false;
        }
        if(contact == "") {
            alert('联系方式不可以为空');
            return false;
        }
        if(hascertification == 0) {
            var certification = $('#certification').val();
            if(certification == "") {
                alert('请上传资质证明文件');
                return false;
            }
        }
    }
</script>