<div class="row">
    <div class="col-md-4">
        <br>
        <div id="myTabContent" class="tab-content">
            <form method="post" onsubmit="return checkUser();">
                <div class="input-group">
                    <span class="input-group-addon">输入原密码</span>
                    <input type="password" name="old_password" id="old_password" class="form-control">
                    <span class="input-group-addon"><i class="icon icon-star"></i></span>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">输入新密码</span>
                    <input type="password" name="new_password" id="new_password" class="form-control">
                    <span class="input-group-addon"><i class="icon icon-star"></i></span>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">确认新密码</span>
                    <input type="password" name="renew_password" id="renew_password" class="form-control">
                    <span class="input-group-addon"><i class="icon icon-star"></i></span>
                </div>
                <br>
                <button type="submit" class="btn btn-block btn-primary">修改</button>
            </form>
        </div>
    </div>
</div>
<script>
    function checkUser() {
        var old_password = $("#old_password").val();
        var new_password = $("#new_password").val();
        var renew_password = $("#renew_password").val();
        if (old_password == "") {
            alert("原密码不能为空");
            return false;
        }
        if (new_password == "") {
            alert("新密码不能为空");
            return false;
        }
        if (renew_password == "") {
            alert("确认密码不能为空");
            return false;
        }
        if (new_password.length <= 2) {
            alert("密码不能少于等于2位");
            return false;
        }
        if (new_password != renew_password) {
            alert('两次输入的密码不一致');
            return false;
        }
        return true;
    }
</script>