<if condition="$power eq 0">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading no-collapse">最新用户<span class="label label-warning">10</span></div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>用户名</th>
                        <th>真实姓名</th>
                        <th>电话</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="list" id="vo" offset='0' length='10'>
                        <tr>
                            <td>{$vo.username}</td>
                            <td>{$vo.realname}</td>
                            <td>{$vo.phone}</td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <else/>
    <h2 class="header-dividing">欢迎来到LoveInn管理系统</h2>
    <if condition="$ispass neq 1">
        <div class="alert alert-danger">
            <h4>您还未实名认证</h4>
            <p>请及时前往个人中心, 完善个人资料</p>
        </div>
    </if>
</if>